@import "tailwindcss";

@plugin "daisyui" {
  themes: dark --default
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  /* Tech Indigo */
  --color-primary: #6366f1;
  --color-primary-content: #ffffff;
  /* Emerald Accent */
  --color-secondary: #10b981;
  /* Slate Backgrounds */
  --color-base-100: #0f172a;
  --color-base-200: #1e293b;
  --color-base-300: #334155;
  --color-base-content: #f8fafc;
}
input,
button,
textarea {
  line-height: normal;
}



@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));